@media (max-width: 991px) {
	.cookies img {
		margin: 0 auto;
	}
}

.jumbotron { 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-color: black;
	margin: 0 auto;
	opacity: 0.6;
	color: white;
	border-radius: 10px;
}

#about {
	text-align: center;
	padding-bottom:0;
	margin-bottom:0p;
}
#banner {
	height: 400px;
	background: url("../img/milkbg.jpg") no-repeat center #00f;
	background-size: cover;
	position:relative;
}

#contact-us {
	background-color: #2196f3;
	color: white;
}

#about-us {
	background-color: #607d8b;
	color: white;
	padding-top: 10px;
	padding-bottom: 20px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.container-fluid {
	background-color: #e2a5df;
	margin: 0;
	padding: 0;
}

.cookies {
	padding-bottom: 10px;
}

.description {
	background-color:;
}

.center {
	position: relative;
	top: 50%;
	left: 34%;
}

h1 {
	font-family: 'Lobster';
}

h2 {
	color: white;
	display: inline;
	font-family: 'Lobster';
	font-size: 300%;
}

h3 {
	color: white;
	font-family: 'Baloo Tammudu', cursive;
}

p {
	font-family: 'Chewy';
	font-size: 125%;
}

hr {
	border-top: 2px dashed white;
}
